<%-include('partials/header.ejs') %>
<%-include('partials/navbar.ejs') %>

<body>
    <div class="container">
        <div class="card" id="formulario-pergunta">
            <div class="card-header">
                <h3>Realizar Pergunta</h3>
            </div>
            <div class="card-body">
                <form>
                    <label>Título</label>
                    <input placeholder="Título" class="form-control">
                    <br>
                    <label>Descrição</label>
                    <textarea placeholder="Descreva sua pergunta" class="form-control"></textarea>
                    <br>
                    <button class="btn btn-primary">Perguntar</button>
                </form>
            </div>
        </div>
    </div>
</body>
<%-include('partials/footer.ejs') %>